.button {
  align-items: center;
  appearance: initial;
  background: transparent;
  border: initial;
  box-shadow: initial;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  justify-content: center;
  margin: initial;
  outline: initial;
  pointer-events: auto;
  text-decoration: initial;
  text-transform: capitalize;
  transition: all 0.2s;

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &--filter {
    background: $cream;
    border-radius: 20px;
    color: black;
    padding: 8px 15px;
    white-space: nowrap;
  }

  &--active,
  &--filter:hover {
    background: $yellow;
  }

  &--filter + &--filter {
    margin-left: 10px;
  }

  &--white {
    background: $white;
  }

  &--yellow {
    background: $yellow;
  }

  &--round {
    border-radius: 20px;
  }
}
