.card {
  background: $cream;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 120px;
  min-height: 120px;
  min-width: 200px;
  padding: 14px;
  width: 200px;

  &--small {
    height: 100px;
    min-height: 100px;
  }

  &--active {
    background: $white;
    border-radius: 20px;
    box-shadow: 0 2px 6px 0 rgba($medium-grey, 0.5);
  }

  &__title {
    color: $black;
    font-family: $font-bold;
    font-size: 14px;
    font-weight: bold;
    margin-top: auto;
  }

  &__subtitle {
    color: $grey;
    font-size: 12px;
  }
}
