.icon {
  flex: 24px 0 0;
  height: 24px;
  width: 24px;
}

.icon--center {
  margin: auto;
}

.icon--big {
  flex: 26px 0 0;
  height: 26px;
  width: 26px;
}

.icon--medium {
  height: 16px;
  width: 15px;
}

.icon--small {
  height: 16px;
  width: 13.3px;
}

.icon--biggest {
  flex: 43px 0 0;
  height: 43px;
  width: 43px;
}

.icon--bigger {
  flex: 30px 0 0;
  height: 30px;
  width: 30px;
}
