.icon {
  width: 24px;
  height: 24px;
  flex: 24px 0 0;
}

.icon--center {
  margin: auto;
}

.icon--big {
  width: 26px;
  height: 26px;
  flex: 26px 0 0;
}

.icon--medium {
  width: 15px;
  height: 16px;
}

.icon--small {
  width: 13.3px;
  height: 16px;
}
