// TODO separate by files

.main {
  background-image: url(https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 335px;
  overflow: hidden;
  padding: 25px 25px 0 25px;

  @include tablet {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
  }
}

.greeting {
  color: $black;
  font-family: $font-bold;
  font-size: 27px;
  font-weight: bold;
  min-height: 52px;
  width: 50%;

  @include tablet {
    height: auto;
    width: 100%;
  }

  &__info {
    font-family: $font-normal;
    font-size: 14px;
  }
}

.temperature {
  &__wrapper {
    display: flex;
    margin-top: 25px;
    width: 50%;
  }

  @include tablet {
    &__wrapper {
      height: auto;
      width: 100%;
    }
  }

  &__block + &__block {
    margin-left: 18px;
  }

  &__location {
    color: $grey;
    font-size: 14px;
  }

  &__value {
    color: $black;
    display: inline;
    font-family: $font-bold;
    font-size: 36px;
    font-weight: bold;
    margin-right: 5px;
  }
}

.planned {
  display: flex;
  flex-direction: column;
  height: 310px;
  justify-content: space-between;
  width: 200px;

  @include tablet {
    height: 120px;
    width: 100%;
  }

  &__container {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 15px;
    height: 270px;
    overflow: hidden;
    padding-bottom: 15px;

    @include tablet {
      grid-auto-flow: column;
      height: 120px;
      overflow: auto;
      padding-bottom: 0;
    }
  }

  &__trigger {
    @include tablet {
      display: none;
    }

    background: $cream;
    border-radius: 20px 20px 0 0;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;
  }
}
