@keyframes move-in {
  from {
    opacity: 0;
    right: -20px;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

.navigation {
  display: contents;
  font-family: inherit;
  font-size: inherit;

  &--mobile {
    display: none;
  }

  &--hidden {
    display: none !important;
  }

  &__trigger {
    display: none;
  }

  @include mobile {
    display: none;

    &--shown {
      animation: move-in 0.2s 0s;
    }

    &--mobile {
      align-items: center;
      background: white;
      border-left: 1px solid $light-grey;
      bottom: 0;
      display: grid;
      grid-auto-rows: 20px;
      grid-gap: 20px;
      padding-right: 25px;
      padding-top: 25px;
      position: fixed;
      right: 0;
      top: 0;
    }

    &--hide {
      animation: move-in 0.2s 0s reverse forwards;
    }

    &__trigger {
      display: block;
      margin-left: auto !important;
    }
  }
}
