.scenarios {
  &__controls {
    margin-left: auto;

    @include tablet {
      display: none;
    }
  }

  box-sizing: border-box;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, 200px);
  max-height: 335px;
  overflow: hidden;
  padding: 3px;
  width: 100%;

  @include tablet {
    grid-auto-flow: column;
    grid-template-rows: auto;
    overflow: auto;
  }
}
