.scenarios {
  &__controls {
    margin-left: auto;

    @include tablet {
      display: none;
    }
  }

  grid-template-columns: repeat(auto-fill, 200px);
  max-height: 335px;
  overflow: hidden;
  width: 100%;
  grid-gap: 15px;
  padding: 3px;
  display: grid;
  box-sizing: border-box;

  @include tablet {
    overflow: auto;
    grid-auto-flow: column;
    grid-template-rows: auto;
  }
}
