.slider {
  border-radius: 30px;
  height: 60px;
  max-width: 100%;
  position: relative;
  width: 580px;

  &__min,
  &__max {
    align-items: center;
    bottom: 0;
    color: #FFFFFF;
    display: flex;
    font-family: $font-bold;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    top: 0;
    user-select: none;
  }

  &__min {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 0;
    width: 60px;
  }

  &__max {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    right: 0;
    width: 60px;
  }

  &--sun {
    background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
  }

  &--temperature {
    background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  }

  &__circle {
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba($black, 0.10);
    box-sizing: border-box;
    cursor: pointer;
    height: 60px;
    left: 0;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    width: 60px;
  }

  @include tablet {
    height: 100%;
    margin: auto;
    width: 60px;

    &__min,
    &__max {
      justify-content: center;
      left: 0;
      right: 0;
    }

    &__min {
      bottom: 0;
      top: auto;
    }

    &__max {
      top: 0;
    }

    &--sun {
      background-image: linear-gradient(#FF9E00 2%, #FFE682 98%);
    }

    &--temperature {
      background-image: linear-gradient(#F76B1C 2%, #FFD800 51%, #068FFF 100%);
    }
  }
}
