$icon: 24px;

$light-grey: #F0F0F0;
$dark-grey: #858585;
$grey: #858585; // TODO
$white: #FFFFFF;
$cream: #F7F7F7;
$black: #333333;

$yellow: #FFD93E;

$small-desktop: 1370px;
$tablet-width: 890px; // it will be better in 890px 768px
$mobile-width: 520px;

@mixin small-desktop {
  @media screen and (max-width: $small-desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}
