@import "_variables";
@import "_navigation";
@import "_block";
@import "_icon";
@import "_main";
@import "_button";
@import "_card";
@import "_title";
@import "_scenarios";
@import "_filter";
@import "_devices";
@import "_link";
@import "_animations";
@import "_popup";
@import "_slider";
@import "_radial";
@import "_select";

body {
  font-family: $font-normal;
  height: 100vh;
  margin: 0;

  @include tablet {
    height: 100%;
    min-height: 100vh;
    overflow: auto;
  }
}

.separate {
  margin-left: auto !important;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header {
  align-items: center;
  background: white;
  border-bottom: 1px solid $light-grey;
  box-sizing: border-box;
  display: flex;
  font-family: $font-bold;
  font-size: 16px;
  font-weight: bold;
  height: 90px;
  left: 0;
  padding: 0 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  @include tablet {
    padding: 0 20px;
  }
}

.logo {
  background-image: url(./../images/logo.png);
  background-size: cover;
  height: 27px;
  margin-right: 26px;
  width: 108px;
}

.link {
  margin-left: 26px;
}

.copyright {
  margin-left: auto;
}

.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  font-size: 12px;
  height: 100px;
  left: 0;
  padding: 0 40px;
  position: fixed;
  right: 0;

  @include tablet {
    padding: 0 20px;
    position: relative;
  }
}
