@import "_variables.scss";
@import "_navigation.scss";
@import "_block.v2.scss";
@import "_icon.scss";
@import "_main.scss";
@import "_button.scss";
@import "_card.scss";
@import "_title.scss";
@import "_scenarios.scss";
@import "_filter.scss";
@import "_devices.scss";
@import "_link.scss";
@import "_animations.scss";
@import "_popup.scss";
@import "_slider.scss";
@import "_radial.scss";

body {
  margin: 0;
  height: 100vh;

  @include tablet {
    min-height: 100vh;
    height: 100%;
    overflow: auto;
  }
}

.separate {
  margin-left: auto !important;
}

.header {
  font-size: 16px;
  font-family: Arial-BoldMT;

  z-index: 2;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 90px;
  padding: 0 40px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  border-bottom: 1px solid #F0F0F0;

  @include tablet {
    padding: 0 20px;
  }
}


.logo {
  width: 108px;
  height: 27px;
  background-size: cover;
  background-image: url(./../images/logo.png);
  margin-right: 26px; // TODO: think about improving this by giving them same parent class
}

.link {
  margin-left: 26px; // TODO: think about improving this by giving them same parent class
}

.copyright {
  margin-left: auto;
}

.footer {
  font-size: 12px;
  font-family: ArialMT;
  display: flex;
  align-items: center;

  height: 100px;
  padding: 0 40px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  @include tablet {
    position: relative;
    padding: 0 20px;
  }
}
