div(hidden='')
  svg(xmlns='http://www.w3.org/2000/svg')
    symbol#temperature(viewbox='0 0 24 24', style='fill: transparent')
      path#Shape(d='M14.0003489,14.76 L14.0003489,3.5 C14.0003489,2.11928813 12.8810608,1 11.5003489,1 C10.119637,1 9.00034891,2.11928813 9.00034891,3.5 L9.00034891,14.76 C7.35223452,15.8611927 6.61873572,17.911099 7.19410587,19.8079004 C7.76947602,21.7047019 9.51820196,23.0016574 11.5003489,23.0016574 C13.4824959,23.0016574 15.2312218,21.7047019 15.806592,19.8079004 C16.3819621,17.911099 15.6484633,15.8611927 14.0003489,14.76 Z', stroke-opacity='0.4', stroke='#333333', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      circle#Oval-2(fill-opacity='0.1', fill='#333333', fill-rule='nonzero', cx='11.5', cy='18.5', r='3.5')

    symbol#temperature2(viewbox='0 0 24 24', style='fill: transparent')
      g#thermometer(transform='translate(7.000000, 1.000000)')
        path#Shape(d='M7,13.76 L7,2.5 C7,1.11928813 5.88071187,0 4.5,0 C3.11928813,-2.22044605e-16 2,1.11928813 2,2.5 L2,13.76 C0.351885607,14.8611927 -0.381613186,16.911099 0.19375696,18.8079004 C0.769127106,20.7047019 2.51785305,22.0016574 4.5,22.0016574 C6.48214695,22.0016574 8.23087289,20.7047019 8.80624304,18.8079004 C9.38161319,16.911099 8.64811439,14.8611927 7,13.76 Z', stroke='#F5A623', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
        circle#Oval-2(fill='#FFD93E', fill-rule='nonzero', cx='4.5', cy='17.5', r='3.5')


    symbol#sun(viewbox='0 0 24 24', style='fill: transparent')
      g#sun(transform='translate(1.000000, 1.000000)', stroke='#333333', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
        circle#Oval(stroke-opacity='0.4', cx='11', cy='11', r='5')
        path#Shape(d='M11,0 L11,2', stroke-opacity='0.1')
        path#Shape(d='M11,20 L11,22', stroke-opacity='0.1')
        path#Shape(d='M3.22,3.22 L4.64,4.64', stroke-opacity='0.1')
        path#Shape(d='M17.36,17.36 L18.78,18.78', stroke-opacity='0.1')
        path#Shape(d='M0,11 L2,11', stroke-opacity='0.1')
        path#Shape(d='M20,11 L22,11', stroke-opacity='0.1')
        path#Shape(d='M3.22,18.78 L4.64,17.36', stroke-opacity='0.1')
        path#Shape(d='M17.36,4.64 L18.78,3.22', stroke-opacity='0.1')

    symbol#sun2(viewbox='0 0 24 24', style='fill: transparent')
      g#sun(xmlns='http://www.w3.org/2000/svg', transform='translate(1.000000, 1.000000)', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
        circle#Oval(stroke='#F5A623', cx='11', cy='11', r='5')
        path#Shape(d='M11,0 L11,2', stroke='#FFD93E')
        path#Shape(d='M11,20 L11,22', stroke='#FFD93E')
        path#Shape(d='M3.22,3.22 L4.64,4.64', stroke='#FFD93E')
        path#Shape(d='M17.36,17.36 L18.78,18.78', stroke='#FFD93E')
        path#Shape(d='M0,11 L2,11', stroke='#FFD93E')
        path#Shape(d='M20,11 L22,11', stroke='#FFD93E')
        path#Shape(d='M3.22,18.78 L4.64,17.36', stroke='#FFD93E')
        path#Shape(d='M17.36,4.64 L18.78,3.22', stroke='#FFD93E')


    symbol#arrow(viewbox='0 0 24 24', style='fill: transparent')
      g#Final(xmlns='http://www.w3.org/2000/svg', stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
        g#v1-2-1-home-dashboard(transform='translate(-540.000000, -538.000000)')
          rect(fill='#F8F8F8', x='0', y='0', width='1366', height='768')
          g#status(transform='translate(39.000000, 195.000000)', opacity='0.3')
            g#Group(transform='translate(1.000000, 40.000000)')
              g#Widget-Copy-3(transform='translate(410.000000, 290.000000)')
                g#Group-5(transform='translate(90.000000, 13.000000)')
                  g(id='Icons-/-Arrow-Double-/-M')
                    g(id='Direct-/-Icons-/-Arrow-Double-/-M')
                      rect#box(x='0', y='0', width='16', height='16')
                      mask#mask-2(fill='white')
                        use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#path-1')
                      use#icon_arrow-double_m(fill='#000000', fill-rule='nonzero', xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#path-1')
                      g(id='Color-/-Black', mask='url(#mask-2)', fill='#333333')
                        g(transform='translate(-82.000000, -57.000000)', id='#333333')
                          polygon(points='0 0 180 0 180 130 0 130')

    symbol#timer(viewbox='0 0 24 24', style='fill: transparent')
      g#clock(transform='translate(2.000000, 2.000000)', stroke='#000000', stroke-linecap='round', stroke-linejoin='round', stroke-width='2')
        circle#Oval(cx='10', cy='10', r='10')
        polyline#Shape(opacity='0.3', points='10 4 10 10 13 13')


    symbol#cloud(viewbox='0 0 26 26', style='fill: transparent')
      g#cloud-drizzle(transform='translate(1.000000, 2.000000)', stroke='#333333', stroke-linecap='round', stroke-linejoin='round', stroke-width='3')
        path#Shape(d='M14,18 L14,20')
        path#Shape(d='M14,11 L14,13')
        path#Shape(d='M9,20 L9,22')
        path#Shape(d='M9,13 L9,15')
        path#Shape(d='M20,15.58 C22.1666971,14.6310615 23.3719893,12.2936524 22.8885932,9.97818513 C22.4051971,7.66271783 20.3653864,6.00278331 18,6 L16.74,6 C15.8695943,2.62945307 12.9194928,0.208656038 9.44387933,0.0129425627 C5.96826587,-0.182770913 2.76504323,1.89152946 1.52174557,5.14305273 C0.2784479,8.394576 1.28050125,12.0768642 4,14.25')

    symbol#list(viewbox="0 0 16 14", style="fill: currentColor")
      path(d="M0,3.32630157 C0,2.77790036 0.444630861,2.33333333 1.00087166,2.33333333 L14.9991283,2.33333333 C15.5518945,2.33333333 16,2.7736791 16,3.32630157 L16,4.00703176 C16,4.55543298 15.5553691,5 14.9991283,5 L1.00087166,5 C0.448105505,5 0,4.55965424 0,4.00703176 L0,3.32630157 Z M0,8.65963491 C0,8.11123369 0.444630861,7.66666667 1.00087166,7.66666667 L14.9991283,7.66666667 C15.5518945,7.66666667 16,8.10701243 16,8.65963491 L16,9.34036509 C16,9.88876631 15.5553691,10.3333333 14.9991283,10.3333333 L1.00087166,10.3333333 C0.448105505,10.3333333 0,9.89298757 0,9.34036509 L0,8.65963491 Z M0,13.9929682 C0,13.444567 0.444630861,13 1.00087166,13 L14.9991283,13 C15.5518945,13 16,13.4403458 16,13.9929682 L16,14.6736984 C16,15.2220996 15.5553691,15.6666667 14.9991283,15.6666667 L1.00087166,15.6666667 C0.448105505,15.6666667 0,15.2263209 0,14.6736984 L0,13.9929682 Z")
