<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Яндекс Дом
body
  include icons.pug
  header.header
    .logo
    nav.navigation
      a.link Сводка
      a.link Устройства
      a.link Сценарии
    //- should display only on mobile
    .navigation--mobile.navigation--hidden
      button.button.navigation__trigger
        svg.icon.icon--small
          use(xlink:href='#list')
      nav.navigation
        a.link Сводка
        a.link Устройства
        a.link Сценарии

  main.block__wrapper
    .block.block--50
      .title Главное
      .main
        .greeting
          | Привет, Геннадий
          .greeting__info Двери и окна закрыты, сигнализация включена.
        .temperature__wrapper
          .temperature__block
            .temperature__location Дома
            .temperature__value +23
          .temperature__block
            .temperature__location За окном
            .temperature__value +19
            svg.icon
              use(xlink:href="#cloud")
        .planned
          .planned__container
            .card
              svg.icon
                use(xlink:href="#temperature")
              .card__title Philips Cooler
              .card__subtitle Начнет охлаждать в 16:30
            .card
              svg.icon
                use(xlink:href="#sun")
              .card__title Xiaomi Yeelight LED Smart Bulb
              .card__subtitle Включится в 17:00
            .card
              svg.icon
                use(xlink:href="#temperature")
              .card__title Clone - Philips Cooler
              .card__subtitle Начнет охлаждать в 16:30
            .card
              svg.icon
                use(xlink:href="#sun")
              .card__title Clone - Xiaomi Yeelight LED Smart Bulb
              .card__subtitle Включится в 17:00
          .planned__trigger
            button.button
              svg.icon
                use(xlink:href="#temperature")

    .block.block--50
      .title
        | Избранные сценарии
        .scenarios__controls
          button.button <
          button.button >
      .scenarios
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla

    .block
      .title
        | Избранные устройства
        .filter
          button.button.button--filter Все
          button.button.button--filter Кухня
          button.button.button--filter Зал
          button.button.button--filter.button--active Лампочки
          button.button.button--filter Камеры
        //- TODO
        select.filter--mobile(hidden)
          option Все
          option Кухня
          option(selected) Зал
          option Лампочки
          option Камеры
        .devices__controls
          button.button <
          button.button >
      .devices
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla
        .card.card--small blablabla



  footer.footer
    nav.navigation
      a.link Помощь
      a.link Обратная связь
      a.link Разработчикам
      a.link Условия использования
    .copyright © 2001–2017  ООО «Яндекс»

