<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Яндекс Дом
body
  include icons.pug
  header.header
    .logo
    nav.navigation
      a.link(href="#") Сводка
      a.link(href="#") Устройства
      a.link(href="#") Сценарии

    button.button.navigation__trigger
      svg.icon.icon--small
        use(xlink:href='#list')
    nav.navigation.navigation--mobile.navigation--hidden
      a.link(href="#") Сводка
      a.link(href="#") Устройства
      a.link(href="#") Сценарии

  main.block__wrapper
    .block.block--half
      .title Главное
      .main
        .greeting
          | Привет, Геннадий
          .greeting__info Двери и окна закрыты, сигнализация включена.
        .temperature__wrapper
          .temperature__block
            .temperature__location Дома
            .temperature__value +23
          .temperature__block
            .temperature__location За окном
            .temperature__value +19
            svg.icon
              use(xlink:href="#cloud")
        .planned
          .planned__container
            //- cards will mount here

          .planned__trigger
            button.button
              svg.icon.icon--medium-sq
                use(xlink:href="#arrow")

    .block.block--half
      .title
        | Избранные сценарии
        .scenarios__controls
          button.button
            svg.icon.icon--medium
              use(xlink:href="#left")
          button.button
            svg.icon.icon--medium
              use(xlink:href="#right")
      .scenarios
        //- cards will mount here

    .block
      .title
        | Избранные устройства
        .filter
          button.button.button--filter.button--active(data-name="all") Все
          button.button.button--filter(data-name="kitchen") Кухня
          button.button.button--filter(data-name="livingRoom") Зал
          button.button.button--filter(data-name="lights") Лампочки
          button.button.button--filter(data-name="cameras") Камеры

        //- change selected value
        .filter--mobile
          .select
            | Все
            svg.icon.icon--tiny
              use(xlink:href="#down")

        .devices__controls
          button.button
            svg.icon.icon--medium
              use(xlink:href="#left")
          button.button
            svg.icon.icon--medium
              use(xlink:href="#right")
      .devices
        //- cards will mount here

  footer.footer
    nav.navigation
      a.link(href="#") Помощь
      a.link(href="#") Обратная связь
      a.link(href="#") Разработчикам
      a.link(href="#") Условия использования
    .copyright © 2001–2017  ООО «Яндекс»


